@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Manrope';
}

#home-header-swiper .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

#home-profile-swiper .swiper-wrapper {
  display: flex;
  align-items: center;
}

#home-profile-swiper .swiper-slide {
  height: 400px;
  margin-bottom: 75px;
}

#home-profile-swiper .swiper-slide-active {
  height: 500px;
}

#home-profile-swiper .swiper-pagination-bullet-active {
  background: #55ff99;
}

#home-profile-swiper .swiper-button-prev {
  color: #37c871;
}

#home-profile-swiper .swiper-button-next {
  color: #37c871;
}

.swiper-slide {
  width: fit-content;
}

@media (max-width: 480px) {
  #home-profile-swiper .swiper-slide {
    height: 280px;
  }

  #home-profile-swiper .swiper-slide-active {
    height: 350px;
  }
}

@media (max-width: 844px) {
  #home-profile-swiper .swiper-slide {
    height: 320px;
  }

  #home-profile-swiper .swiper-slide-active {
    height: 400px;
  }
}

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
